<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portfolio</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-light-blue.css">

    <!-- import the webpage's javascript file -->
    <script src="scripts/scripts.js" defer></script>
</head>

<body>


    <div class="navigation-bar w3-container w3-theme w3-card">
        <div id="navigation-container">
            <img src="../asset/Portfolio.svg" alt="homepage">
            <ul class="topnav w3-theme-d2">
                <li><a href="../index.html">Home</a></li>
                <li><a href="projects.html ">Projects</a></li>
                <li><a class="active" href="about.html ">About</a></li>
                <li class="right "><a href="contact.html ">Contact</a></li>
            </ul>
        </div>
    </div>


    <div class="self">
        <h4><b>Name :</b> </h4>My name is Shahir Abdullah. <br>
        <h4><b>University :</b> </h4>Military Institute of Science and Technology. <br>
        <h4><b>Department :</b></h4> Computer Science and Engineering. <br>
        <h4><b>College :</b></h4> Mirzapur Cadet College. <br>
        <h4><b>Passion :</b></h4> Build products out of thin air with the magic of coding.<br>
        <h4><b>Future Dream :</b></h4> From childhood I used to hear all the negative things about our country Bangladesh. <br> While those might be true 20 years ago, it is totally a different case now. <br> We are one of the fastest growing nation in south
        asia and our GDP growth is higher than many countries (Till 2019). We have all the potential thinkgers and genius people. <br> All we need now is a leader. A leader who will show us a purpose and give us a hope. <br> Which will be far more precious
        and chase worthy than a good high pay job. <br> My dream is to give our country such a hope. <br> With my skill set I believe I can give that to my country. <br> That is my <b>dream</b>
        <br><b><a href="https://drive.google.com/file/d/1mrEfhGqP7vyZ9cuZJvNdZrxfiTizvwzT/view?usp=sharing">My CV</a></b>
        <br><b><a href="https://drive.google.com/file/d/1Bkzwt-Z-40gdE0ArGQgoeyPQVc3yHAdz/view?usp=sharing">My Personality Profile</a></b>
    </div>
    <div class="footer">
        <p><b>Copyright@Shahir-Abdullah</b></p>
    </div>
</body>

</html>